    <script src="/assets/welcome.js"></script>

    <div class="row">
        <% @projects.each do |project, i| %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail thumbnail_<%= project.type.name %> <%= project.type.name %>">
                    <img class="topic" src="/assets/<%= i %>_thumb.jpg">

                    <div class="caption">
                        <h4> <%= project.name %> </h4>
                        <p> <%= project.resume %> </p>
                        <div class="project-progress-bar bg-grey">
                          <div class="project-progress-bar bg-<%= project.type.name %> full-height" style="width: <%= project %>"></div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>