<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <label for="project_type">Segmento do Projeto:</label> <br>
    <select id="project_type" name="project[project_type_id]" class="form-control">
      <option value="none">Segmento do Projeto</option>
      <% ProjectType.all.each do |project_type| %>
          <option value="<%= project_type.id %>"> <%= t(:project_type)[project_type.name.to_sym] %> </option>
      <% end %>
    </select>

    <!-- TODO ver como o Face fez isso aqui -->
    <div class="field">
      <%= f.label :alias_name %><br>
      <%= f.text_field :alias_name %>
    </div>

    <div class="field">
        <%= f.label :resume %><br>
        <%= f.text_field :resume %>
    </div>

    <div class="field">
        <%= f.label :url_video %><br>
        <%= f.text_field :url_video %>
    </div>

    <div class="field">
      <%= f.check_box :active %> <%= f.label :active %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
